body {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}


/* Header nav bar*/

header {
    padding: 10px 20px;
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links{
    display: flex;
    margin-left: 20px;
}


ul  {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding-right: 30px;
}

/* Second section - the 'hero banner'*/

.hero-banner {
    display: flex;
    justify-content: center;
    padding: 40px;
    width: 100%;
    gap: 60px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.banner-text {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.banner-image-placeholder{
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 400px;
}

.hero-banner h2 {
    font-size: 48px;
    font-weight: 900;
}

.hero-banner p {
    font-size: 18px;
    color: #E5E7EB;
}

/* Third section, the 'cards'*/
.middle {
    margin-top: 30px;
    margin-bottom: 60px;
}
.middle h2{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 40px;  
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    padding: 0px;
}

.cards figure {
    width: 150px; /* set the width for the figure as that includes both the img and the caption so will keep same width*/
    margin: 0;
    text-align: center;
}

.image-placeholder {
    width: 100%; /* width is set by cards container to keep text and img same size */
    height: 150px;
    border: 2px solid blue;
    border-radius: 10px;
}

.cards figcaption {
    margin-top: 10px;
}

/* Fourth section, the quote */
.quote-section {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    padding: 40px 0;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.quote-section blockquote{
    max-width: 600px;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

cite {
    margin-left: auto;
    font-style: normal;
    font-weight: 900;
}

/* fifth section, the footer*/
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}


/* General things*/
button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 1%;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    width: auto;
    align-self: flex-start;
    padding: 5px 30px;
    border: none;
}
